

body{
	font-family: 'sans-serif';
	margin: 0;
	padding: 220px;
	height: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caja{
	width: 90vw;
	height: 90vh;
	border: 2px solid #bbd2db;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.fa-smile-o{
	color: #bbd2db;
	font-size: 71px;
}

h1, p{
	color: #86969c;
}

h1{
	font-size: 32px;
}

p{
	font-size: 20px;
}

input{
	background: #4EBBE4;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px 20px;
	color: #fff;
	font-family: 'sans-serif';
	font-size: 14px;
	outline: none;
	transition: all .2s;
}

input:hover{
	background: #48b3db;
}